
.warning {
    background: rgb(226, 114, 114);
    border: 3px solid red;
    border-radius: 32px;
}

.warning p {
    font-weight: bold;
    color: #eee;
    padding-top:16px;
}

.success {
    background: rgb(123, 226, 114);
    border: 3px solid green;
    border-radius: 32px;
}

.success p {
    font-weight: bold;
    color: rgb(26, 25, 25);
    padding-top:16px;
}

.img {
    width: 400px;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}