body {
  background: linear-gradient(90deg, rgba(144,144,170,1) 0%, rgba(55,192,219,1) 100%);
}

.titel {
  font-size: 62px;
  background: -webkit-linear-gradient(rgb(173, 173, 173), rgb(24, 24, 24));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blurbg {
  padding: 2em 5em;
  border: 1px solid white;
  border-radius: 20px;
  background:  rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.form-control:focus {
  box-shadow: none;
}

.img_switch {
  background-image: url(/public/exchange.png);
  background-size: cover;
  height: 100px;
  width: 95px;
  cursor: pointer;
  filter: drop-shadow(0 0 10px #000);
}

.img_switch:hover {
  filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

.img_switch:active {
  filter: drop-shadow(0 0 10px rgb(0, 153, 241));
}