body {
  background: linear-gradient(90deg, rgba(144,144,170,1) 0%, rgba(55,192,219,1) 100%);
}

.titel {
  font-size: 62px;
  background: -webkit-linear-gradient(rgb(173, 173, 173), rgb(24, 24, 24));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blurbg {
  margin-top: 100px;
  padding: 2em 5em;
  border: 1px solid white;
  border-radius: 20px;
  background:  rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.form-control:focus {
  box-shadow: none;
}

.btn:focus {
  outline: none !important;
}
